<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - BatleShip</title>
      {% else %}
      <title>Welcome to BattleShip game</title>
      {% endif %}
    </head>
    <body>
        <div>
            BattleShip: 
            <a href="{{ url_for('index') }}">|  Thông số chung  </a>
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('entername') }}">|  Tên  |</a>
            {% else %}
                <a href="{{ url_for('player', playername=current_user.playername) }}">|  Thông số cá nhân  |</a>
                <a href="{{ url_for('new_game') }}">|  Game mới  |</a>                
                <a href="{{ url_for('changename') }}">|  Đổi tên khác  |</a>   
                <a href="{{ url_for('join_hall') }}">|  Vào phòng  |</a>               
            {% endif %}
        </div>
  
        <hr>
        <!--hiển thị thông báo gửi về-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}


        {% block content %}{% endblock %}
    </body>
</html>