{% extends 'base.html' %}

{% block content %}
    <h1> Tạo trận đấu mới </h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }} <!-- Bảo mật, không rõ lắm -->
        <p>
            <!-- getElementById: Tim trong DOM html co id khop -->
            <!-- style.display: truy cập thuộc tính hiển thị trong khối đó -->
            <p>
                <h2>{{ form.mode.label() }}</h2><br>
                {{ form.mode(onchange="document.getElementById('ai-options').style.display = this.value === 'ai' ? 'block' : 'none'") }}
                {% for error in form.mode.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            
            {% for error in form.mode.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        
        <div id="ai-options">
            <p>
                <h2>{{ form.ai_type.label }}</h2><br>
                {{ form.ai_type() }}
            </p>
        </div>

        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}